doctype html
//- ess page ko extend kar liya jayega aage jake ye template banaya h
html
  head
    title  Naresh Dance Academy
    block scripts
    block style
  body
    block content

    footer#footer
      h2  All Rights are Reserved.
      h3 Created with LOVE by Ramnaresh         
    